{% extends 'base.html.twig' %}

{% block title %}Favorite quotes{% endblock %}

{% block body %}

    <h1 class="mb-5">3 Best quotes</h1>

{#
    {% for favorite in favorites %}
            <div class="card mb-3 p-3">
                <h5>{{ quote.content}}</h5>
                <p class="text-secondary"> by {{ quote.author}}</p>
                <p>{{ quote.savedBy|length}}</p>
            </div>
    {% endfor %}
#}

{% endblock %}
