{% extends 'base.html.twig' %}

{% block title %}Hello QuoteController!{% endblock %}

{% block body %}

    <h1 class="mb-5">Here are your saved quotes {{ app.user.username }}</h1>

    {% for quote in quotes %}
{% if quote.savedBy == app.user %}
    <div class="card mb-3 p-3">
        <h5>{{ quote.content}}</h5>
        <p class="text-secondary"> by {{ quote.author}}</p>
        <a href="{{ path('unsave_quote', {id: quote.id}) }}" class="btn btn-danger">Remove</a>
    </div>
        {% endif %}
    {% endfor %}

{% endblock %}
